<h1>
  Temperature converter
</h1>
<div>
  <form [formGroup]="form">
    <label><b>Conversion Input:</b></label>
    <div>
      <input type="number" formControlName="conversionInput">
    </div>
    <div *ngIf="f.conversionInput.touched && f.conversionInput.invalid">
      *Matching Patterns are 1, 1.2, 1.0234, -1, 0.123 etc.,
    </div>
    <br />

    <div *ngIf="f.conversionInput.touched && f.conversionInput.valid">
      <label><b>Conversion From:</b></label>
      <div>
        <input id="celsius"
               type="radio"
               value="Celsius"
               name="conversionFrom"
               formControlName="conversionFrom"
               (change)="convert()">
        <label for="celsius">Celsius</label>
      </div>

      <div>
        <input id="farenheit"
               type="radio"
               value="Fahrenheit"
               name="conversionFrom"
               formControlName="conversionFrom"
               (change)="convert()">
        <label for="farenheit">Fahrenheit</label>
      </div>

      <div>
        <input id="kelvin"
               type="radio"
               value="Kelvin"
               name="conversionFrom"
               formControlName="conversionFrom"
               (change)="convert()">
        <label for="kelvin">Kelvin</label>
      </div>

    </div>
  </form>
  <div *ngIf="error">
    There is a problem serving your request.
  </div>
  <br />
  <ng-container *ngIf=" !!this.temperature ">
    <div>
      <b>{{ temperature ? temperature.input + '°' : '' }} {{ from }} corresponds to</b>
    </div>
    <div>
      <div>
        <span>
          Celsius
        </span>
        <span>
          {{ temperature.celsius  }}
        </span>
      </div>

      <div>
        <span>
          Fahrenheit
        </span>
        <span>
          {{ temperature.fahrenheit}}
        </span>
      </div>

      <div>
        <span>
          Kelvin
        </span>
        <span>
          {{ temperature.kelvin }}
        </span>
      </div>
    </div>
  </ng-container>
</div>
